<section class="py-20 px-6" [ngClass]="backgroundClass">
  <div class="max-w-6xl mx-auto flex flex-col md:flex-row items-center gap-12"
    [ngClass]="imagePosition === 'right' ? 'md:flex-row-reverse' : ''">

    <ng-container>
      <img [src]="imageSrc" [alt]="imageAlt"
        class="max-w-[300px] md:max-w-[350px] xl:max-w-[400px] shadow-md object-cover order-2 md:order-none" [ngClass]="{
            'rounded-full': imageStyle === 'rounded',
            'rounded-xl': imageStyle === 'square'
          }">
    </ng-container>

    <div class="text-center md:text-left flex-1 order-1 md:order-none">
      <h2 class="text-4xl md:text-5xl font-semibold mb-6">{{ title }}</h2>
      @for(paragraph of paragraphs; track paragraph){
      <ng-container>
        <p class="text-lg !mb-2 leading-relaxed text-gray-700 text-balance">{{ paragraph }}</p>
      </ng-container>
      }
      @if(buttonLabel && buttonLink){
      <div class="mt-8">
        <app-button [label]="buttonLabel" [link]="buttonLink"></app-button>
      </div>
      }
    </div>
  </div>
</section>