<section class="px-6" [ngClass]="[paddingClass, backgroundClass]">
  <div class="mx-auto flex flex-col items-center gap-12" [ngClass]="{
        'max-w-6xl' : imagePosition !== 'down',
        'md:flex-row': imagePosition === 'left',
        'md:flex-row-reverse': imagePosition === 'right',
        'md:flex-col max-w-4xl': imagePosition === 'down'
      }">

    <ng-container>
      <img [src]="imageSrc" [alt]="imageAlt" class="shadow-md object-cover" [ngClass]="{
          'max-w-[300px] md:max-w-[350px] xl:max-w-[400px] order-2 md:order-none': imagePosition !== 'down',
          'max-w-[400px] md:max-w-[450px] xl:max-w-[500px] order-2': imagePosition === 'down',
          'rounded-full': imageStyle === 'rounded',
          'rounded-xl': imageStyle === 'square'
        }">
    </ng-container>

    <div class="text-center flex-1 order-1 md:order-none" [ngClass]="imagePosition !== 'down' ? 'md:text-left' : ''">
      <h2 class="text-4xl md:text-5xl font-semibold">{{ title }}</h2>
      @for(paragraph of paragraphs; track paragraph){
      <ng-container>
        <p class="text-lg !mb-2 leading-relaxed text-gray-700 text-balance">{{ paragraph }}</p>
      </ng-container>
      }
      @if(buttonLabel && buttonLink){
      <div class="mt-8">
        <app-button [label]="buttonLabel" [link]="buttonLink"></app-button>
      </div>
      }
    </div>
  </div>
</section>