img {
  &.small {
    height: 24px;
    width: 24px;
  }

  &.medium {
    height: 32px;
    width: 32px;
  }

  &.large {
    height: 48px;
    width: 48px;
  }
  &.extralarge {
    height: 64px;
    width: 64px;
  }
}
