<section class="parallax-about relative bg-fixed bg-cover bg-center text-black py-32 px-6" [ngClass]="backgroundClass">
  <div class="max-w-3xl mx-auto text-center backdrop-blur-lg bg-white/60 p-10 rounded">
    <h2 class="text-4xl md:text-5xl mb-6 text-balance">{{title}}</h2>
    <p class="text-lg md:text-xl mb-8 text-balance">
      {{description}}

    </p>
    @if(buttonLink && buttonLabel){
    <app-button [label]="buttonLabel" [link]="buttonLink"></app-button>
    }
  </div>
</section>