<app-hero-carousel [images]="homeData.heroCarousel.images" [title]="homeData.heroCarousel.title"
  [subtitle]="homeData.heroCarousel.subtitle" [paragraph1]="homeData.heroCarousel.paragraph1"
  [paragraph2]="homeData.heroCarousel.paragraph2" [buttonLabel]="homeData.heroCarousel.buttonLabel"
  [buttonLink]="homeData.heroCarousel.buttonLink">
</app-hero-carousel>
<app-parallax-section [backgroundClass]="homeData.parallaxSection.parallaxBgClass"
  [title]="homeData.parallaxSection.title" [description]="homeData.parallaxSection.description"
  [buttonLabel]="homeData.parallaxSection.buttonLabel" [buttonLink]="homeData.parallaxSection.buttonLink">
</app-parallax-section>
<app-info-block [title]="homeData.teamSection.title" [paragraphs]="homeData.teamSection.paragraphs"
  [buttonLabel]="homeData.teamSection.buttonLabel" [buttonLink]="homeData.teamSection.buttonLink"
  [imageSrc]="homeData.teamSection.imageSrc" [imageAlt]="homeData.teamSection.imageAlt"
  [imagePosition]="homeData.teamSection.imagePosition" [backgroundClass]="homeData.teamSection.backgroundClass"
  [imageStyle]="homeData.teamSection.imageStyle">
</app-info-block>
<app-info-block [title]="homeData.spaceSection.title" [paragraphs]="homeData.spaceSection.paragraphs"
  [buttonLabel]="homeData.spaceSection.buttonLabel" [buttonLink]="homeData.spaceSection.buttonLink"
  [imageSrc]="homeData.spaceSection.imageSrc" [imageAlt]="homeData.spaceSection.imageAlt"
  [imagePosition]="homeData.spaceSection.imagePosition" [backgroundClass]="homeData.spaceSection.backgroundClass"
  [imageStyle]="homeData.spaceSection.imageStyle"></app-info-block>
<section class="py-20 bg-smoke overflow-x-hidden md:px-0">
  <h2 class="text-5xl mb-12 text-center">Qué hacemos</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-15 md:gap-30 max-w-6xl mx-auto">
    @for(card of homeData.hoverCards; track $index){
    <div class="flex flex-col items-center px-10 xl:px-0">
      <img [src]="card.decoration" alt="Decoración título">
      <h3 class="card-title !mb-10">
        {{ card.title }}
      </h3>
      <app-hover-card [imageMain]="card.imageMain" [imageOverlay]="card.imageOverlay" [imageAlt]="card.title">
      </app-hover-card>
      <div class="mt-12 z-99">
        <app-button [label]="card.ctaLabel" [link]="card.ctaLink" class="mt-50"></app-button>
      </div>
    </div>
    }
  </div>
</section>
<section class="pb-20 bg-smoke overflow-x-hidden px-10 md:px-0">
  <h2 class="text-5xl mb-12 text-center">Próximamente</h2>
  <div class=" max-w-6xl mx-auto">
    @for(card of homeData.soonSectionCards; track $index){
    <div class="flex flex-col items-center">
      <img [src]="card.decoration" alt="Decoración título">
      <h3 class="card-title !mb-10">
        {{ card.title }}
      </h3>
      <app-hover-card [imageMain]="card.imageMain" [imageOverlay]="card.imageOverlay" [imageAlt]="card.title"
        customClass="micropigmentation-card">
      </app-hover-card>
    </div>
    }
  </div>
</section>
<section class="bg-beige py-20 px-6 text-center">
  <h2 class="text-5xl font-semibold !mb-12 text-balance">Lo que dicen nuestros clientes</h2>

  <div class="max-w-3xl mx-auto rounded-xl bg-white/30 backdrop-blur-sm shadow-lg px-4 py-10">
    <app-carousel-rating [items]="homeData.testimonials"></app-carousel-rating>
  </div>
</section>
<app-social-follow [backgroundClass]="homeData.socialSection.backgroundClass"></app-social-follow>