<app-parallax-section [backgroundClass]="parallaxSectionData.parallaxBgClass" [title]="parallaxSectionData.title"
  [description]="parallaxSectionData.description">
</app-parallax-section>
<app-info-block [title]="whatWeDoSection.title" [paragraphs]="whatWeDoSection.paragraphs"
  [imageSrc]="whatWeDoSection.imageSrc" [imageAlt]="whatWeDoSection.imageAlt"
  [imagePosition]="whatWeDoSection.imagePosition" [backgroundClass]="whatWeDoSection.backgroundClass"
  [imageStyle]="whatWeDoSection.imageStyle"></app-info-block>