<app-admin-list [loading]="loading" [data]="filteredClients" [columns]="[
    { label: 'Nombre', key: 'name' },
    { label: 'Edad', key: 'age' },
    { label: 'Fecha creación', key: 'createdAt', pipe: 'date' }
  ]" [createButtonText]="'Añadir cliente'" [onCreate]="createClient.bind(this)" [onEdit]="editClient.bind(this)"
  [onDelete]="deleteClient.bind(this)" [enableSearch]="true" [searchPlaceholder]="'Búsqueda por nombre'"
  [onSearch]="searchClient.bind(this)" [onReset]="resetFilters.bind(this)" [sortKey]="sortKey"
  [sortDirection]="sortDirection" [onSort]="sortClients.bind(this)"></app-admin-list>