<div
  class="fixed inset-0 z-50 bg-beige text-black flex flex-col items-center justify-start transition-transform duration-500 ease-in-out"
  [class.translate-y-0]="isOpen" [class.-translate-y-full]="!isOpen">
  <button (click)="closeMenu()" class="absolute top-5 right-6 text-3xl font-bold" aria-label="Cerrar menú">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 mt-3">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>

  <ul class="pt-15 text-xl bg-white font-semibold w-full text-center flex-1 overflow-y-auto !mb-0">
    @for(link of links; track link.label){
    <li class="px-10 py-5">
      @if (!link.children) {
      <a [routerLink]="link.path" (click)="closeMenu()"
        class="!text-granite block hover:bg-beige hover:text-black transition-colors">
        {{ link.label }}
      </a>
      } @else {
      <a (click)="toggleDropdown(link.label)"
        class="!text-granite w-full flex justify-center items-center hover:bg-beige hover:text-black transition-colors">
        {{ link.label }}
        <svg class="w-4 h-4 transition-transform" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          [class.rotate-180]="dropdownOpen === link.label">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </a>

      @if(dropdownOpen === link.label){
      <ul class="pt-2 space-y-2 flex flex-col items-center">
        @for(child of link.children; track child.path){
        <li class="border-b border-beige first:border-t first:border-beige hover:opacity-75 transition w-60">
          <a [routerLink]="child.path" (click)="closeMenu()"
            class="!text-granite block px-4 py-2 text-sm hover:bg-beige hover:text-black">
            {{ child.label }}
          </a>
        </li>
        }
      </ul>
      }
      }
    </li>
    }
  </ul>
</div>