<div class="bg-beige py-25">
  <div class="max-w-screen-xl mx-auto w-full h-auto flex flex-col md:flex-row bg-beige">
    <div
      class="w-full md:w-1/2 flex flex-col justify-center px-6 xl:mr-20 z-10 text-black order-2 md:order-1 mt-6 md:mt-0">

      <div class="text-center md:text-start backdrop-blur-sm bg-white/30 px-5 xl:px-10 py-10 rounded">
        <h1 class="text-5xl">{{title}}</h1>
        <h2 class="text-4xl mb-4">{{ subtitle }}</h2>
        <p class="!mb-1 max-w-lg text-xl">
          {{ paragraph1 }}
        </p>
        <p class="mb-6 max-w-lg text-xl">
          {{ paragraph2 }}
        </p>
        <div class="mt-7">
          <app-button [label]="buttonLabel" [link]="buttonLink"></app-button>
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/2 relative h-[300px] md:h-[600px] md:pr-10 md:px-6 md:ps-6 order-1 md:order-2">
      @for (image of images; track image; let i = $index) {
      <div class="absolute inset-0 transition-opacity duration-700 ease-in-out md:pr-6 xl:pl-10" [ngClass]="{
          'opacity-100 z-10': i === currentIndex,
          'opacity-0 z-0': i !== currentIndex
        }">
        <div class="relative w-full h-full">
          <img [src]="image" alt="carousel image" class="w-full h-full object-cover" />
          <div class="absolute inset-0 pointer-events-none z-20">
            <div class="absolute top-0 left-0 h-full w-12 bg-gradient-to-r from-beige to-transparent"></div>
            <div class="absolute top-0 right-0 h-full w-12 bg-gradient-to-l from-beige to-transparent"></div>
            <div class="absolute top-0 left-0 w-full h-12 bg-gradient-to-b from-beige to-transparent"></div>
            <div class="absolute bottom-0 left-0 w-full h-12 bg-gradient-to-t from-beige to-transparent"></div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>