@if (loading) {
<app-loader></app-loader>
} @else {
<div class="grid grid-cols-1 lg:grid-cols-2 gap-6 justify-items-center">
  <div class="w-full max-w-xl mb-8 lg:mb-10">
    <h2 class="text-center text-lg font-semibold">Tatuajes por mes</h2>
    <app-charts-display [type]="'bar'" [data]="barChartData" [options]="barChartOptions"></app-charts-display>
  </div>
  <div class="w-full max-w-xl mb-8 lg:mb-10">
    <h2 class="text-center text-lg font-semibold">Tatuajes por zona del cuerpo</h2>
    <app-charts-display [type]="'doughnut'" [data]="doughnutChartData"
      [options]="doughnutChartOptions"></app-charts-display>
  </div>
  <div class="w-full max-w-xl mb-8 lg:mb-10">
    <h2 class="text-center text-lg font-semibold">Tatuajes por estilo</h2>
    <app-charts-display [type]="'polarArea'" [data]="polarAreaChartData"
      [options]="polarAreaChartOptions"></app-charts-display>
  </div>
  <div class="w-full max-w-xl mb-8 lg:mb-10">
    <h2 class="text-center text-lg font-semibold">Tatuajes por año</h2>
    <app-charts-display [type]="'line'" [data]="lineChartData" [options]="lineChartOptions"></app-charts-display>
  </div>
</div>
}