@if (loading) {
<app-loader></app-loader>
} @else {
<div class="grid grid-cols-1 lg:grid-cols-2 gap-6 justify-items-center">
  @for (chart of chartsPageData; track chart.title) {
  <div
    class="w-full max-w-xl mb-8 lg:mb-10 bg-white rounded-2xl shadow-2xl hover:shadow-xl border border-gray-200 p-4 transition-shadow">
    <h2 class="text-center text-lg font-semibold !mb-4">{{ chart.title }}</h2>
    <app-charts-display [type]="chart.type" [data]="this[chart.dataKey]"
      [options]="this[chart.optionsKey]"></app-charts-display>
  </div>
  }
</div>
}