<app-hero-carousel [images]="heroCarouselData.images" [title]="heroCarouselData.title"
  [subtitle]="heroCarouselData.subtitle" [paragraph1]="heroCarouselData.paragraph1"
  [paragraph2]="heroCarouselData.paragraph2" [buttonLabel]="heroCarouselData.buttonLabel"
  [buttonLink]="heroCarouselData.buttonLink">
</app-hero-carousel>
<app-parallax-section [backgroundClass]="parallaxSectionData.parallaxBgClass" [title]="parallaxSectionData.title"
  [description]="parallaxSectionData.description" [buttonLabel]="parallaxSectionData.buttonLabel"
  [buttonLink]="parallaxSectionData.buttonLink">
</app-parallax-section>
<section class="py-20 bg-beige text-center">
  <h2 class="text-5xl mb-12">Qué hacemos</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10 justify-items-center">
    @for(card of hoverCardsData; track $index){
    <div class="flex flex-col items-center">
      <h3 class="text-2xl font-semibold mb-4">{{ card.title }}</h3>
      <app-hover-card [imageMain]="card.imageMain" [imageOverlay]="card.imageOverlay" [imageAlt]="card.title"
        [imageLink]="card.imageLink">
      </app-hover-card>
    </div>
    }
  </div>
</section>
<div class="w-full bg-cyan-500 py-60">hola</div>
<div class="w-full bg-blue-500 py-60">hola</div>
<div class="w-full bg-red-100 py-60">hola</div>