<app-admin-list [loading]="loading" [data]="filteredTattoos" [columns]="[
    { label: 'Cliente', key: 'clientName' },
    { label: 'Artista', key: 'artistName' },
    { label: 'Precio', key: 'price' },
    { label: 'Fecha', key: 'date', pipe: 'date' },
    { label: 'Tamaño', key: 'size' },
    { label: 'Notas', key: 'notes' },
    { label: 'Parte del cuerpo', key: 'body_part' },
    { label: 'Estilo', key: 'style' }
  ]" [createButtonText]="'Añadir tatuaje'" [onCreate]="createTattoo.bind(this)" [onEdit]="editTattoo.bind(this)"
  [onDelete]="deleteTattoo.bind(this)" [enableSearch]="true"
  [searchPlaceholder]="'Búsqueda por cliente, artista o estilo'" [onSearch]="searchTattoo.bind(this)"
  [onReset]="resetFilters.bind(this)" [sortKey]="sortKey" [sortDirection]="sortDirection"
  [onSort]="sortTattoos.bind(this)">
</app-admin-list>