<div class="bg-beige py-18 md:py-25">
  <div class="max-w-screen-xl mx-auto w-full h-auto flex flex-col md:flex-row bg-beige">
    <div
      class="w-full md:w-1/2 flex flex-col justify-center px-6 xl:mr-20 z-10 text-black order-2 md:order-1 mt-6 md:mt-0">

      <div class="text-center md:text-start bg-white/30 px-5 xl:px-10 py-10 rounded">
        <h1 class="text-5xl text-balance">{{title}}</h1>
        <h2 class="text-4xl mb-4 text-balance">{{ subtitle }}</h2>
        <p class="!mb-1 max-w-lg text-xl text-balance">
          {{ paragraph1 }}
        </p>
        <p class="mb-6 max-w-lg text-xl text-balance">
          {{ paragraph2 }}
        </p>
        <div class="mt-7">
          <app-button [label]="buttonLabel" [link]="buttonLink"></app-button>
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/2 relative h-[300px] md:h-[600px] md:pr-10 md:px-6 md:ps-6 order-1 md:order-2">
      @for (image of images; track image; let i = $index) {
      <div class="absolute inset-0 transition-opacity duration-700 ease-in-out md:pr-6 xl:pl-10" [ngClass]="{
          'opacity-100 z-10': i === currentIndex,
          'opacity-0 z-0': i !== currentIndex
        }">
        <div class="relative w-full h-full">
          <picture>
            <source [attr.srcset]="'/assets/images/carousel/' + image + '-mobile.webp'" media="(max-width: 500px)">
            <source [attr.srcset]="'/assets/images/carousel/' + image + '-tablet-small.webp'"
              media="(max-width: 768px)">
            <source [attr.srcset]="'/assets/images/carousel/' + image + '-tablet.webp'" media="(max-width: 1024px)">
            <source [attr.srcset]="'/assets/images/carousel/' + image + '.webp'" media="(min-width: 1025px)">
            <img [attr.src]="'/assets/images/carousel/' + image + '.webp'" width="537" height="600"
              alt="carousel image {{ i + 1 }}" class="w-full h-full object-cover lg:object-contain fade-mask"
              [attr.loading]="i === 0 ? 'eager' : 'lazy'" [attr.fetchpriority]="i === 0 ? 'high' : 'auto'">
          </picture>
        </div>
      </div>
      }
    </div>
  </div>
</div>