<section class="text-center py-20 px-6" [ngClass]="backgroundClass">
  <h2 class="text-4xl md:text-5xl font-semibold mb-6 text-balance">Síguenos en redes sociales</h2>
  <p class="text-lg max-w-xl mx-auto text-gray-700 !mb-8 text-balance">
    Descubre más sobre nuestro trabajo, sigue nuestros diseños más recientes y forma parte de la comunidad Fine Line.
  </p>

  <div class="flex justify-center gap-6 text-3xl text-black">
    <a href="https://www.facebook.com/profile.php?id=100072263010956#" target="_blank" aria-label="Facebook"
      class="hover:opacity-80 transition">
      <img src="assets/icons/facebook-section.webp" alt="Facebook Fine Line" width="64" height="64"
        class="object-contain">
    </a>
    <a href="https://www.instagram.com/fineline__studiotattoo/" target="_blank" aria-label="Instagram"
      class="hover:opacity-80 transition">
      <img src="assets/icons/instagram-section.webp" alt="Instagram Fine Line" width="64" height="64"
        class="object-contain">
    </a>
  </div>
</section>
