<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <app-logo size="small" imgClass="sidebar-img"></app-logo>
      <h1 class="sidebar-logo-title">Fine Line Tattoo</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Menú" nzIcon="menu">
        <ul>
          <li nz-menu-item nzMatchRouter class="custom-menu-item">
            <a routerLink="/admin/calendario">Calendario</a>
          </li>
          <li nz-menu-item nzMatchRouter class="custom-menu-item">
            <a routerLink="/admin/estadisticas">Estadísticas</a>
          </li>
          <li nz-menu-item nzMatchRouter class="custom-menu-item">
            <a routerLink="/admin/clients">Clientes</a>
          </li>
          <li nz-menu-item nzMatchRouter class="custom-menu-item">
            <a routerLink="/admin/tattoos">Tattoos</a>
          </li>
          <li nz-menu-item nzMatchRouter class="custom-menu-item">
            <a routerLink="/admin/artists">Artistas</a>
          </li>
          <li nz-menu-item nzMatchRouter class="custom-menu-item">
            <a routerLink="/admin/mensajes-contacto">Mensajes contacto</a>
          </li>
          <li nz-menu-item nzMatchRouter class="custom-menu-item">
            <a routerLink="/admin/solicitudes-cita">Solicitudes cita</a>
          </li>
        </ul>
      </li>
    </ul>
    @if (userName) {
    <div class="logout-container flex items-center gap-2 p-4">
      <nz-icon nzType="user"></nz-icon>
      @if (!isCollapsed) {
      <span>Hola {{ userName }}!</span>
      }
      <button nz-button nzType="text" class="cursor-pointer text-red-600" (click)="confirmLogout()" nz-tooltip
        nzTooltipTitle="Cerrar sesión">
        <nz-icon nzType="logout"></nz-icon>
      </button>
    </div>
    }

  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header relative flex items-center px-4 h-16">
        <span class="header-trigger flex" (click)="isCollapsed = !isCollapsed">
          <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
        </span>
        <h1 class="absolute left-1/2 -translate-x-1/2 text-xl font-bold">
          Panel de administración
        </h1>
      </div>
    </nz-header>
    <nz-content>
      <div [ngClass]="{ 'inner-content': !isChartsPage }">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>