<section class="px-6 pt-30 pb-20 bg-beige">
  <div class="text-center flex-1 order-1 md:order-none max-w-4xl mx-auto">
    <h1 class="text-4xl md:text-5xl font-semibold text-balance !mb-0">{{ portfolioData.heroSection.title }}</h1>
  </div>
</section>
<section class="bg-granite py-20">
  <div class="max-w-4xl mx-auto px-6">
    <h2 class="text-4xl font-semibold !mb-10 text-center">{{ portfolioData.microrealismSection.subtitle }}</h2>
    <app-carousel-images [images]="portfolioData.microrealismSection.images"></app-carousel-images>
  </div>
</section>
<section class="bg-smoke py-20">
  <div class="max-w-4xl mx-auto px-6">
    <h2 class="text-4xl font-semibold !mb-10 text-center">{{ portfolioData.geometricsSection.subtitle }}</h2>
    <app-carousel-images [images]="portfolioData.geometricsSection.images"></app-carousel-images>
  </div>
</section>
<app-parallax-section [backgroundClass]="portfolioData.wantGetTattoo.parallaxBgClass"
  [title]="portfolioData.wantGetTattoo.title" [description]="portfolioData.wantGetTattoo.description"
  [buttonLabel]="portfolioData.wantGetTattoo.buttonLabel" [buttonLink]="portfolioData.wantGetTattoo.buttonLink">
</app-parallax-section>