@use "tailwindcss";
@use "styles/abstracts/colors" as *;

@theme {
  --color-beige: #e7e2d6;
  --color-granite: #c6bab1;
}

// ========================================
// DASHBOARD PAGE STYLES
// ========================================

// ===========================
// Layout & Sidebar
// ===========================

.sidebar-logo img {
  display: inline-block;
  vertical-align: middle;
}

.ant-layout-sider {
  position: relative;
  min-width: 0;
  background: $text-color;
}

// ===========================
// Menu
// ===========================

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: $text-secondary-color;
}

// ===========================
// Botones
// ===========================

.ant-btn-primary {
  background: $text-secondary-color;
  border-color: $text-secondary-color;

  &:hover {
    background: $accent-color;
    border-color: $accent-color;
  }

  &:focus,
  &:active {
    background: $text-color;
    border-color: $text-color;
  }
}

// ===========================
// Paginación
// ===========================

.ant-pagination-item-active {
  border-color: $text-color;

  a {
    color: $text-color;
  }

  &:hover {
    border-color: $accent-color;

    a {
      color: $accent-color;
    }
  }
}

// ===========================
// Formulario Modal
// ===========================

.modal-form-footer {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

// ===========================
// Mensajes de error
// ===========================

.error-message {
  color: red;
  font-size: 14px;
  transition: opacity 0.3s ease-in-out;

  &.ng-star-inserted {
    opacity: 1;
  }

  &:not(.ng-star-inserted) {
    opacity: 0;
  }
}

// ===========================
// Calendar
// ===========================
app-calendar-display {
  a,
  a:hover {
    color: black;
  }
}

.fc- {
  &event-main {
    margin-left: 4px;
  }
  &button {
    cursor: pointer;
  }
}
.ant-modal {
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  &-title {
    font-size: 1.25rem;
    text-align: center;
  }
}
.container-modal p {
  margin-bottom: 0;
}
