@use "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

// ========================================
// VARIABLES CUSTOM PROPERTIES
// ========================================

@theme {
  --color-beige: #e7e2d6;
  --color-hola: red;
  --color-beige-opacity: rgba(231, 226, 214, 0.3);
  --color-granite: #c6bab1;
  --color-black: #373737;
  --color-smoke: #cbc9c5;
  --color-primary: #e7e2d6;
  --color-text-secondary: #cbc9c5;
  --color-accent: #c6bab1;
  --color-danger: #d9534f;
}

// ========================================
// GLOBAL STYLES
// ========================================

body {
  font-family: "Playfair Display", serif;
}

p {
  color: var(--color-black);
}

// ========================================
// DASHBOARD STYLES
// ========================================

// Layout & Sidebar
.sidebar-logo img {
  display: inline-block;
  vertical-align: middle;
}

.ant-layout-sider {
  position: relative;
  min-width: 0;
}

// Menu
.ant-menu-dark {
  .ant-menu-inline.ant-menu-sub {
    background: var(--color-text-secondary);
  }

  .ant-menu-item > span > a {
    color: var(--color-black) !important;
  }

  .ant-menu-sub {
    background: var(--color-text-secondary);
  }
}

// Buttons
.ant-btn-primary {
  background: var(--color-text-secondary);
  border-color: var(--color-text-secondary);

  &:hover,
  &:focus,
  &:active {
    background: var(--color-accent);
    border-color: var(--color-accent);
  }
}

// Pagination
.ant-pagination {
  &-item-active {
    border-color: var(--color-black);

    a {
      color: var(--color-black);
    }

    &:hover {
      border-color: var(--color-accent);

      a {
        color: var(--color-accent);
      }
    }
  }

  &-table-pagination-right {
    display: none;
  }
  &.ant-table-pagination.ant-table-pagination-right.ant-pagination-mini.ng-star-inserted {
    display: none;
  }
}

// Modal form
.modal-form-footer {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

// Error messages
.error-message {
  color: red;
  font-size: 14px;
  transition: opacity 0.3s ease-in-out;

  &.ng-star-inserted {
    opacity: 1;
  }

  &:not(.ng-star-inserted) {
    opacity: 0;
  }
}

// Calendar
app-calendar-display {
  a,
  a:hover {
    color: black;
  }
}

.fc-event-main {
  margin-left: 4px;
}

.fc-button {
  cursor: pointer;
}

.fc-event-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// Modal
.ant-modal {
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;

  &-title {
    font-size: 1.25rem;
    text-align: center;
  }
}

.container-modal p {
  margin-bottom: 0;
}
