<form [formGroup]="form" (ngSubmit)="onSubmit()" nz-form nzLayout="vertical">
  <nz-form-item>
    <nz-form-label [nzRequired]="true">Nombre</nz-form-label>
    <nz-form-control [nzValidateStatus]="form.get('name')!">
      <input nz-input formControlName="name" placeholder="Nombre del artista">
      @if(form.get('name')?.touched && form.get('name')?.errors?.['required']){
      <div class="error-message">
        El nombre es obligatorio
      </div>
      }
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Biografía</nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="bio" placeholder="Biografía del artista"></textarea>
    </nz-form-control>
  </nz-form-item>

  <div class="modal-form-footer">
    <button nz-button nzType="default" type="button" (click)="cancel()">Cancelar</button>
    <button nz-button nzType="primary" type="button" [disabled]="form.invalid" [nzLoading]="loading"
      (click)="onSubmit()">
      {{ artist ? 'Editar' : 'Crear' }}
    </button>
  </div>
</form>