<app-parallax-section [backgroundClass]="studioData.parallaxSection.parallaxBgClass"
  [title]="studioData.parallaxSection.title" [description]="studioData.parallaxSection.description">
</app-parallax-section>
<app-info-block [title]="studioData.whatWeDoSection.title" [paragraphs]="studioData.whatWeDoSection.paragraphs"
  [imageSrc]="studioData.whatWeDoSection.imageSrc" [imageAlt]="studioData.whatWeDoSection.imageAlt"
  [imagePosition]="studioData.whatWeDoSection.imagePosition"
  [backgroundClass]="studioData.whatWeDoSection.backgroundClass"
  [imageStyle]="studioData.whatWeDoSection.imageStyle"></app-info-block>
<section class="bg-granite text-center py-20 px-6">
  <h1 class="text-4xl md:text-5xl font-semibold !mb-10">{{studioData.microrealismSection.mainTitle}}</h1>
  <div class="max-w-4xl mx-auto">
    <app-carousel-images [images]="studioData.microrealismSection.microrealismImages"></app-carousel-images>
  </div>
</section>
<section class="bg-smoke text-center py-20 px-6">
  <h2 class="text-4xl md:text-5xl font-semibold !mb-10">{{studioData.geometricsSection.mainTitle}}</h2>
  <div class="max-w-4xl mx-auto">
    <app-carousel-images [images]="studioData.geometricsSection.geometricsImages"></app-carousel-images>
  </div>
</section>
<app-info-block [title]="studioData.micropigmentationSection.title"
  [paragraphs]="studioData.micropigmentationSection.paragraphs"
  [imageSrc]="studioData.micropigmentationSection.imageSrc" [imageAlt]="studioData.micropigmentationSection.imageAlt"
  [imagePosition]="studioData.micropigmentationSection.imagePosition"
  [backgroundClass]="studioData.micropigmentationSection.backgroundClass"
  [imageStyle]="studioData.micropigmentationSection.imageStyle"></app-info-block>
<app-parallax-section [backgroundClass]="studioData.wantGetTattoo.parallaxBgClass"
  [title]="studioData.wantGetTattoo.title" [description]="studioData.wantGetTattoo.description"
  [buttonLabel]="studioData.wantGetTattoo.buttonLabel" [buttonLink]="studioData.wantGetTattoo.buttonLink">
</app-parallax-section>
<app-social-follow [backgroundClass]="studioData.socialSection.backgroundClass"></app-social-follow>