<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-label [nzRequired]="true">Nombre</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="name" placeholder="Nombre del cliente" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzRequired]="true">Edad</nz-form-label>
    <nz-form-control>
      <input nz-input type="number" formControlName="age" placeholder="Edad" />
    </nz-form-control>
  </nz-form-item>

  <div class="modal-footer">
    <button nz-button nzType="default" type="button" (click)="cancel()">Cancelar</button>
    <button nz-button nzType="primary" [disabled]="form.invalid" [nzLoading]="loading">Crear</button>
  </div>
</form>